
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: #0a2b3e;  /* bleu sombre */
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
}

.system-title {
  padding: 25px 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 16px;
 
}

.system-title h3 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  margin: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 16px;
  margin-top: 10rem;
}


.nav-btn {
  background: transparent;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: inherit;
  text-decoration: none;
}  




.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(4px);
}

.nav-btn:active {
  transform: translateX(2px);
}



/* Responsive pour petits écrans */
@media (max-width: 768px) {
  .sidebar {
    width: 240px;
  }
  .main-content {
    margin-left: 240px;
  }
}